<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" sizes="16x16" th:href="@{/images/BTV.ico}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

    <!-- bootstrap -->
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}" rel="stylesheet"
        integrity="sha256-djO3wMl9GeaC/u6K+ic4Uj/LKhRUSlUFcsruzS7v5ms=" crossorigin="anonymous"
        referrerpolicy="no-referrer">
    <!-- font-awesome -->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css}"
        integrity="sha384-iw3OoTErCYJJB9mCa8LNS2hbsQ7M3C0EpIsO/H5+EGAkPGc6rk+V8i04oW/K5xq0" crossorigin="anonymous">
    <!-- dataTable -->
    <link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css}"
        integrity="sha256-4W/j2Pv3N5VfbVDhzI8SKzHFHBfaOdZ2CZ1lXfxNofU=" crossorigin="anonymous"
        referrerpolicy="no-referrer">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.18/dist/sweetalert2.min.css"
        integrity="sha256-7jUS+MWeqkFdmW9ozkZ7mPagz+QmMbsBlt+Q3MsE+FU=" crossorigin="anonymous">

    <title>ASSET INFORMATION - B-Universe</title>
</head>

<body style="background-color: #efefef">
    <nav class="navbar navbar-expand-lg"
        th:style="'background-image:url('+@{/images/images2.png}+');background-size:cover;'">
        <a class="navbar-brand" href="#!" th:if="${session.work == 'BTV'}"><img class="img-fluid"
                th:src="@{/images/BTV.svg}" alt="" style="width: 80px; margin:auto 20px" /></a>
    </nav>

    <div class="container justify-content-center">
        <div class="input-group">
            <input id="searchData" type="text" class="form-control" placeholder="Search">
            <button type="button" class="btn btn-outline-primary" style="margin-left: 3px;" data-bs-toggle="modal"
                data-bs-target="#modalTambah">TAMBAH DATA</button>
        </div>
        <div class="row">
            <div th:each="data : ${data}" class="col-lg-3 col-md-4 col-sm-6 itemss" >
                <div class="card-container " data-bs-toggle="modal" data-bs-target="#modalDetail"
                    th:onclick="'findbyid(' + ${data.id} + ')'">
                    <div class="card mt-3" style="border-radius: 10%;">
                        <div class="card-body text-center">
                            <img th:src="@{/streamImage(filename=${data.filename})}"
                                style="width: 100%; height:200px; object-fit: cover; border-top-left-radius: 10%; border-top-right-radius: 10%;">
                            <h5 th:text="${data.nama}" class="card-title"></h5>
                            <p th:text="${data.kategori}" class="kategori"></p>
                            <p th:text="${data.deskripsi}"></p>
                            <!-- <p th:text="${data.harga}"></p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalTambah" tabindex="-1" aria-hidden="true" style="backdrop-filter: blur(10px);">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">INPUT DATA MATERI</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formMateri" action="#" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="form-floating mb-3">
                                <input type="text" id="nama" class="form-control" required="true" placeholder="nama" />
                                <label for="nama">Nama Barang</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="Kategori" name="Kategori"
                                    placeholder="Kategori" value="" />
                                <label for="Kategori">Kategori</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="Harga" name="Harga" placeholder="Harga"
                                    value="" />
                                <label for="Harga">Harga</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="Deskripsi" name="Deskripsi"
                                    placeholder="Deskripsi" value="" />
                                <label for="Deskripsi">Deskripsi</label>
                            </div>
                            <div class="form-group file_container mb-3">
                                <h5 for="file" class="form-label">Upload Files</h5>
                                <input type="file" class="form-control" name="files" id="filee" accept="image/*" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="nambah" onclick="nambahedit()" class="btn btn-primary">
                        Simpan Data
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalDetail" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalDetail" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
          <div class="modal-content">
              <!-- <div class="modal-body"> -->
                  <img class="img-responsive" id="tempatprev" src="" />
              <!-- </div> -->
          </div>
        </div>
      </div>

    



    <script th:src="@{https://code.jquery.com/jquery-3.7.0.js}"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js}"
        integrity="sha256-WgfGn5Bh6xLjmgMTWKT1Z/MKACrWGCY5rIT9G9ovbmU=" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js}"
        integrity="sha256-XDbijJp72GS2c+Ij234ZNJIyJ1Nv+9+HH1i28JuayMk=" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.18/dist/sweetalert2.all.min.js"
        integrity="sha256-eYINpiFTsm812/hOBxFCGaSZzPvHBZZFYSe5ZWLgYzo=" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.0/axios.min.js}"
        integrity="sha256-xJNTehIpC6/bk41FMzIkPAjeo8cYvnGnxbv/YgAM1og=" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js}"
        integrity="sha384-Y7LSKwoY+C2iyfu/oupNnkGEN3EgA6skmJeVg5AyQk7ttcjX0XsLREmmuJW/SdbU"
        crossorigin="anonymous"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js}"
        integrity="sha384-vtH+5pZsjdWxaTWlFSCrWM6i0TIG0HKOqJbPo91LB35dvWpVzuWdJeVoNweP+eoY"
        crossorigin="anonymous"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            var $grid = $('.row').isotope({
                itemSelector: '.itemss',
                layoutMode: 'fitRows'
            });

            // Search Input Event Listener
            $("#searchData").keyup(function () {
                var searchText = $(this).val().toLowerCase();

                // Filter the Isotope items based on the search text
                $grid.isotope({
                    filter: function () {
                        var cardTitle = $(this).find(".card-title").text().toLowerCase();
                        var cat = $(this).find(".kategori").text().toLowerCase();
                        return searchText === "" || cardTitle.includes(searchText) || cat.includes(searchText);
                    }
                });
            });
        });

        function nambahedit() {
            var bodyFormData = new FormData();
            var inputFile = document.getElementsByName("files")[0]; // Assuming you have only one input for the file

            bodyFormData.append("files", inputFile.files[0]);

            var url = `/post?nama=${$("#nama").val()}&deskripsi=${$("#Deskripsi").val()}&harga=${$("#Harga").val()}&kategori=${$("#Kategori").val()}`;
            Swal.fire({
                title: 'Please wait...',
                html: 'Uploading file',
                showConfirmButton: false,
                allowOutsideClick: false,
                willOpen: () => {
                    Swal.showLoading();
                },
            })
            axios({
                method: "post",
                url: url,
                data: bodyFormData,
                headers: { "Content-Type": "multipart/form-data" },
            })
                .then(function (response) {
                    Swal.fire({
                        position: "center",
                        icon: response.data.icon,
                        title: response.data.message,
                        showConfirmButton: true,
                        confirmButtonColor: '#198754'
                    }).then((result) => {

                        location.reload();

                    });
                })
                .catch(function (obj) {
                    Swal.fire({
                        position: "center",
                        icon: obj.response.data.icon,
                        title: obj.response.data.message,
                        showConfirmButton: true,
                        confirmButtonColor: '#198754'
                    }).then((result) => {

                        location.reload();

                    });
                })
        };

        function findbyid(id) {
            $.get(`/find?id=${id}`, function (datas) {
                var si = datas.data;
                $("#tempatprev").attr("src", `/streamImage?filename=${si.filename}`);
                // $("#detailJudul").val(si.nama);
                // $("#kategoris").val(si.kategori);
                // $("#hargabar").val(si.harga);
                // $("#deksripsis").val(si.deskripsi);
            })
        }

        /*]]>*/
    </script>
</body>

</html>